version: 9.10.{build}

configuration:
  - Release

image:
  - Visual Studio 2019

environment:
  NSISDIR: C:\Program Files (x86)\NSIS
  matrix:
  - QTDIR: C:\Qt\5.15\msvc2019
    NSI: gpxsee.nsi
    VCVARS: vcvars32.bat
    OPENSSLDIR: C:\OpenSSL-v111-Win32\bin
    LIBCRYPTO: libssl-1_1.dll
    LIBSSL: libcrypto-1_1.dll
  - QTDIR: C:\Qt\5.15\msvc2019_64
    NSI: gpxsee64.nsi
    VCVARS: vcvars64.bat
    OPENSSLDIR: C:\OpenSSL-v111-Win64\bin
    LIBCRYPTO: libssl-1_1-x64.dll
    LIBSSL: libcrypto-1_1-x64.dll
  - QTDIR: C:\Qt\6.0\msvc2019_64
    NSI: gpxsee64.nsi
    VCVARS: vcvars64.bat
    OPENSSLDIR: C:\OpenSSL-v111-Win64\bin
    LIBCRYPTO: libssl-1_1-x64.dll
    LIBSSL: libcrypto-1_1-x64.dll
    NSISDEF: /DQT6

install:
- cmd: |-
    set PATH=%QTDIR%\bin;%NSISDIR%;%PATH%
    call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\"%VCVARS%

build_script:
- cmd: |-
    lrelease gpxsee.pro
    qmake gpxsee.pro
    nmake release

    md installer
    copy release\GPXSee.exe installer
    windeployqt --release installer\GPXSee.exe
    copy pkg\%NSI% installer
    copy pkg\macros.nsh installer
    xcopy pkg\csv installer\csv /i
    xcopy pkg\maps installer\maps /i
    xcopy lang\*.qm installer\translations\ /sy
    xcopy icons\symbols installer\symbols /i
    copy licence.txt installer
    copy %OPENSSLDIR%\%LIBCRYPTO% installer
    copy %OPENSSLDIR%\%LIBSSL% installer

    makensis.exe %NSISDEF% installer\%NSI%

artifacts:
- path: installer\GPXSee-*.exe
