version: 15.3.{build}

configuration:
  - Release

image:
  - Visual Studio 2022

environment:
  NSISDIR: C:\Program Files (x86)\NSIS
  JOMDIR: C:\Qt\Tools\QtCreator\bin\jom
  QTDIR: C:\Qt\6.9\msvc2022_64
  ZLIBDIR: C:\tools\vcpkg\installed\x64-windows-static-md-release

install:
- cmd: |-
    set PATH=%QTDIR%\bin;%NSISDIR%;%JOMDIR%;%PATH%
    call "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat
    vcpkg install zlib:x64-windows-static-md-release
    copy /y %ZLIBDIR%\lib\zlib.lib %ZLIBDIR%\lib\zlibstatic.lib

build_script:
- cmd: |-
    lrelease gpxsee.pro
    qmake ZLIB=%ZLIBDIR% gpxsee.pro
    jom release

after_build:
- cmd: |-
    md installer
    copy release\GPXSee.exe installer
    windeployqt --release installer\GPXSee.exe
    copy pkg\windows\gpxsee64.nsi installer
    xcopy data\CRS installer\CRS /i
    xcopy data\maps installer\maps /i
    xcopy data\style installer\style /s /i
    xcopy lang\*.qm installer\translations\ /sy
    xcopy icons\symbols installer\symbols /i
    copy licence.txt installer
    makensis.exe /DQT6 installer\gpxsee64.nsi

artifacts:
- path: installer\GPXSee-*.exe

cache:
- C:\tools\vcpkg\installed\
