<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.gpxsee.gpxsee" android:installLocation="auto" android:versionCode="-- %%INSERT_VERSION_CODE%% --" android:versionName="-- %%INSERT_VERSION_NAME%% --">
    <!-- %%INSERT_PERMISSIONS -->
    <!-- %%INSERT_FEATURES -->
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true"/>
    <application android:name="org.qtproject.qt.android.bindings.QtApplication" android:extractNativeLibs="true" android:hardwareAccelerated="true" android:label="-- %%INSERT_APP_NAME%% --" android:requestLegacyExternalStorage="true" android:allowNativeHeapPointerTagging="false" android:icon="@drawable/icon">
        <activity android:name="org.gpxsee.gpxsee.Activity" android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density" android:label="-- %%INSERT_APP_NAME%% --" android:launchMode="singleTop" android:screenOrientation="unspecified" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- data files -->
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.gpx"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.kml"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.kmz"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.nmea"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.fit"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.tcx"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.gpi"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.igc"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.plt"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.rte"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.wpt"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.trk"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.ov2"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.itn"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.slf"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.sml"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.cup"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.loc"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.geojson"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.omd"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.ghp"/>
                <!-- maps -->
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.map"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.img"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.jnx"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.kap"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.000"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.rmap"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.aqm"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.gemf"/>
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.xml"/>
            </intent-filter>

            <meta-data android:name="android.app.lib_name" android:value="-- %%INSERT_APP_LIB_NAME%% --"/>
            <meta-data android:name="android.app.arguments" android:value="-- %%INSERT_APP_ARGUMENTS%% --"/>
            <meta-data android:name="android.app.extract_android_style" android:value="minimal"/>
        </activity>
    </application>

</manifest>
