<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@SHORT_VERSION@</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleIdentifier</key>
	<string>org.gpxsee.GPXSee</string>

	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gpx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/gpx+xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icons/gpx.icns</string>
			<key>CFBundleTypeName</key>
			<string>GPS Exchange Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tcx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/tcx+xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icons/tcx.icns</string>
			<key>CFBundleTypeName</key>
			<string>Training Center XML</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kml</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.google-earth.kml+xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icons/kml.icns</string>
			<key>CFBundleTypeName</key>
			<string>Keyhole Markup Language</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fit</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.ant.fit</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icons/fit.icns</string>
			<key>CFBundleTypeName</key>
			<string>Flexible and Interoperable Data Transfer</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>igc</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.fai.igc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icons/igc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Flight Recorder Data Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nmea</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.nmea.nmea</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icons/nmea.icns</string>
			<key>CFBundleTypeName</key>
			<string>NMEA 0183 data</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>

	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.topografix.gpx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.topografix.com/GPX/1/1</string>
			<key>UTTypeDescription</key>
			<string>GPS Exchange Format</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpx</string>
				</array>
				<key>public.mime-type</key>
				<string>application/gpx+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.garmin.tcx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www8.garmin.com/xmlschemas/TrainingCenterDatabasev2.xsd</string>
			<key>UTTypeDescription</key>
			<string>Training Center XML</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tcx</string>
				</array>
				<key>public.mime-type</key>
				<string>application/tcx+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.google.kml</string>
			<key>UTTypeReferenceURL</key>
			<string>https://developers.google.com/kml/documentation/kmlreference</string>
			<key>UTTypeDescription</key>
			<string>Keyhole Markup Language</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kml</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.google-earth.kml+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.thisisant.fit</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.thisisant.com/resources/fit</string>
			<key>UTTypeDescription</key>
			<string>Flexible and Interoperable Data Transfer</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fit</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.ant.fit</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.fai.igc</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.fai.org/gnss-recording-devices/igc-approved-flight-recorders</string>
			<key>UTTypeDescription</key>
			<string>Flight Recorder Data Format</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>igc</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.fai.igc</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.nmea.nmea</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.nmea.org/content/nmea_standards/nmea_0183_v_410.asp</string>
			<key>UTTypeDescription</key>
			<string>NMEA 0183 data</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nmea</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.nmea.nmea</string>
			</dict>
		</dict>
	</array>

</dict>
</plist>
