name: Android

on:
  push:
    branches:
      - master

jobs:
  build:
    name: GPXSee
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          cmdline-tools-version: 9862592
      - name: Install android platform, build-tools and ndk
        run:  ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager --install "platforms;android-33" "build-tools;33.0.0" "ndk;23.1.7779620"
      - name: Setup NDK path
        run: echo "ANDROID_NDK_ROOT=${ANDROID_HOME}/ndk/23.1.7779620/" >> $GITHUB_ENV
      - name: Install Qt (Desktop)
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.4.0'
      - name: Install Qt (Android)
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.4.0'
          target: 'android'
          arch: 'android_arm64_v8a'
          modules: qtimageformats qtpositioning qtserialport qt5compat
      - name: Install Android OpenSSL
        run:  git clone https://github.com/KDAB/android_openssl.git
      - name: Get latest QtPBFImagePlugin run-id
        id: runid
        run: echo "runid=$(gh run list --repo tumic0/QtPBFImagePlugin --workflow 'Android' --limit 1 --json databaseId -q '.[0].databaseId')" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Create the plugins dir
        run: mkdir -p QtPBFImagePlugin/plugins
      - name: Download QtPBFImagePlugin
        uses: actions/download-artifact@v4
        with:
          name: libplugins_imageformats_libpbf_arm64-v8a.so
          github-token: ${{ github.token }}
          repository: tumic0/QtPBFImagePlugin
          path: QtPBFImagePlugin/plugins
          merge-multiple: true
          run-id: ${{steps.runid.outputs.runid}}
      - name: Create localization
        run:  lrelease gpxsee.pro
      - name: Configure build
        run:  qmake gpxsee.pro OPENSSL_PATH=android_openssl ANDROID_EXTRA_PLUGINS=QtPBFImagePlugin/plugins
      - name: Build project
        run:  make -j4 apk
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: GPXSee-arm64_v8a.apk
          path: android-build/build/outputs/apk/debug/android-build-debug.apk
