name: Windows (arm64)

on:
  push:
    tags:
      - '[0-9]+.[0-9]+'

jobs:
  build:
    name: GPXSee
    runs-on: windows-11-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.10.1'
          modules: qtpositioning qtserialport qtimageformats
      - name: Set up Visual Studio shell
        uses: egor-tensin/vs-shell@v2
        with:
          arch: arm64
      - name: Create localization
        run: lrelease gpxsee.pro
      - name: Configure build
        run: qmake gpxsee.pro
      - name: Build project
        run: nmake release
      - name: Deploy binaries and data
        run: |
          md installer
          copy release\GPXSee.exe installer
          windeployqt --release installer\GPXSee.exe
          copy pkg\windows\gpxsee64.nsi installer
          xcopy data\CRS installer\CRS /i
          xcopy data\maps installer\maps /i
          xcopy data\style installer\style /s /i
          xcopy lang\*.qm installer\translations\ /sy
          xcopy icons\symbols installer\symbols /i
          copy licence.txt installer
      - name: Create installer
        uses: joncloud/makensis-action@v5.0
        with:
          script-file: installer\gpxsee64.nsi
          arguments: "/DARM64"
      - name: Code Signing
        run: |
          New-Item -ItemType directory -Path certificate
          Set-Content -Path certificate\certificate.txt -Value '${{secrets.CERTIFICATE}}'
          certutil -decode certificate\certificate.txt certificate\certificate.pfx
          signtool sign /f certificate\certificate.pfx /fd SHA256 /p '${{secrets.CERTIFICATE_PWD}}' installer\GPXSee-*.exe
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: installer/GPXSee-*.exe
          name: GPXSee_arm64.exe
          compression-level: 0
