name: Windows (x64)

on:
  push:
    branches:
      - master

jobs:
  build:
    name: GPXSee
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.10.0'
          modules: qtpositioning qtserialport qtimageformats
      - name: Install jom
        run: choco install jom
      - name: Install NSIS
        run: choco install nsis
      - name: Set up Visual Studio shell
        uses: egor-tensin/vs-shell@v2
        with:
          arch: x64
      - name: Create localization
        run: lrelease gpxsee.pro
      - name: Configure build
        run: qmake gpxsee.pro
      - name: Build project
        run: jom -j 4 release
      - name: Deploy binaries and data
        run: |
          md installer
          copy release\GPXSee.exe installer
          windeployqt --release installer\GPXSee.exe
          copy pkg\windows\gpxsee64.nsi installer
          xcopy data\CRS installer\CRS /i
          xcopy data\maps installer\maps /i
          xcopy data\style installer\style /s /i
          xcopy lang\*.qm installer\translations\ /sy
          xcopy icons\symbols installer\symbols /i
          copy licence.txt installer
      - name: Create installer
        uses: joncloud/makensis-action@v5.0
        with:
          script-file: installer\gpxsee64.nsi
      - name: Code Signing
        run: |
          New-Item -ItemType directory -Path certificate
          Set-Content -Path certificate\certificate.txt -Value '${{secrets.CERTIFICATE}}'
          certutil -decode certificate\certificate.txt certificate\certificate.pfx
          signtool sign /f certificate\certificate.pfx /fd SHA256 /p '${{secrets.CERTIFICATE_PWD}}' installer\GPXSee-*.exe
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: installer/GPXSee-*.exe
          name: GPXSee_x64.exe
          compression-level: 0
